{% extends "base.html" %}

{% load static %}


{% block bodyclass %}home{% endblock %}


{% block content %}

<div class="row align-items-center">
    <div class="col-12 col-md-6 text-white text-center mb-5 mb-md-0">
        <h1 class="text-white" >Volte chytřeji!</h1>
        <h2>zjistěte, kdo si Váš hlas skutečně zaslouží</h2>

        <a href="#" class="btn btn-primary">VYZKOUŠET KALKULAČKU</a>
    </div>
    <div class="col-12 col-md-6 text-center text-md-right">
        <img src="{% static 'images/czech-republic-frontpage.svg' %}" alt="mapa cz barevna" class="img-fluid">
    </div>
</div>

{% endblock content %}