{% extends "base.html" %}

{% load static %}
{% load comments %}

{% block bodyclass %}poslanec_detail{% endblock %}


{% block content %}
<div class="name-wrap mb-4" >
    <span class="before titles">{{poslanec_single.id_osoba.pred}}&nbsp;</span>
    <h1 class="pageTitle {% if poslanec_single.id_osoba.pred != ' ' %}title-before{% endif %}">
        {{poslanec_single.id_osoba.jmeno}} {{poslanec_single.id_osoba.prijmeni}}
    </h1>
    <span class="after titles">{{poslanec_single.id_osoba.za}}</span>
</div>
<div class="row profile mb-5">
    <div class="col-12 rating mb-3">
      <div class="stars" title="Celkové hodnocení: {{rating|floatformat:2}}" >
        <div class="star s-5 {% if rating >= 4.5 %}half{% endif %} {% if rating >= 5 %}full{% endif %} " data-value='5' ></div>
        <div class="star s-4 {% if rating >= 3.5 %}half{% endif %} {% if rating >= 4 %}full{% endif %} " data-value='4' ></div>
        <div class="star s-3 {% if rating >= 2.5 %}half{% endif %} {% if rating >= 3 %}full{% endif %} " data-value='3' ></div>
        <div class="star s-2 {% if rating >= 1.5 %}half{% endif %} {% if rating >= 2 %}full{% endif %} " data-value='2' ></div>
        <div class="star s-1 {% if rating >= 0.5 %}half{% endif %} {% if rating >= 1 %}full{% endif %} " data-value='1' ></div>
      </div>
      {% if user.is_authenticated %}
      <p class="rated small mb-0" {% if not  user_rated %} style="display:none;" {% endif %} >Vaše hodnocení: <span class="user_rated" >{{user_rated|floatformat}}</span>/5</p>
      <a href="javaScript:removeRating();" class="remove_rating small" {% if not  user_rated %} style="display:none;" {% endif %} >Zrušit</a>
      {% else %}
      <p class="login_required small" style="display:none;" >
        Hodnocení je umožněno pouze přihlášeným uživatelům. Přihlašte se <a href="/accounts/login">zde</a>.
      </p>
      {% endif %}

    </div>
    <div class="col-6 col-md-2">
    {% if poslanec_single.foto == 1 %}
        <img 
        src="http://www.psp.cz/eknih/cdrom/{{election_period}}ps/eknih/{{election_period}}ps/poslanci/i{{ poslanec_single.id_osoba.pk }}.jpg" 
        class="img-fluid"
        alt="Poslanec profilový obrázek">
    {% else %}
        <img 
        src="{% static 'images/profile_placeholder.jpg' %}" 
        class="img-fluid default"
        alt="Poslanec profilový obrázek">
    {% endif %}
    </div>
    <div class="col-6 col-md-3">
        <p class="red">Strana</p>
        <p>{{party|default:"nezařaz."}}</p>
        <p class="red">Kraj</p>
        <p>{{poslanec_single.id_kraj.nazev_organu_cz}}</p>
        <p class="red">Web</p>
        <p>{{poslanec_single.web|default:"-"}}</p>
        <p class="red">Období</p>
        <p>{{election_period}}</p>
    </div>
    <div class="col-12 col-md-7">
        <p class="red">Email</p>
        <p>{{poslanec_single.email}}</p>
        <p class="red">Kancelář</p>
        {% if poslanec_single.ulice != None or poslanec_single.obec != None or poslanec_single.psc != None  %}
        <p>{{poslanec_single.ulice}}<br>{{poslanec_single.obec}} {{poslanec_single.psc}}</p>
        {% else %}
        <p>-</p>
        {% endif %}
        <p class="red">Členem</p>
        <p class="member_of" >
        {% for institution in member_of %}
            <span>{{institution}}</span>
        {% endfor %}
        </p>
    </div>
</div>

<h2>Komentáře</h2>
<div class="row comments">
    {% if request.user.is_authenticated %}
    <div class="col-12">
        <div class="mb-3" >
            <a href="#add-comment" 
            data-toggle="collapse" 
            aria-expanded="false" 
            aria-controls="add-comment"  
            class="toggle">Přidat komentář</a>
        </div>
    </div>
    {% else %}
      <div class="col-12">
        <p>Prosíme <a href="/accounts/login/">přihlašte se</a> pro možnost přidávat komentáře.</p>
      </div>
    {% endif %}
    <div class="col-12  comments-list ">
        {% get_comment_list for poslanec_single as comment_list %}
        {% for comment in comment_list %}
        <div class="comment">
            <div class="user-img">
                <img src="{% if comment.user.profile_image %}{{comment.user.profile_image.url}}{% endif %}" 
                alt="user profile image" class="img-fluid">
            </div>
            <div class="content">
                <p class="meta mb-0">
                    <span class="username">{{comment.user_name}}</span>
                    <span class="date">{{comment.submit_date|date:"d.m.Y h:i"}}</span>
                </p>
                <p class="text">
                    {{comment.comment}}
                </p>
            </div>
        </div>
        {% endfor %}
        <div class="form-wrap">
            <div class='collapse' id="add-comment" >
            {% get_comment_form for poslanec_single as form %}
                {% get_comment_form for poslanec_single as form %}
                <form action="{% comment_form_target %}" method="POST">
                {% csrf_token %}
                {{ form.comment }}
                {{ form.honeypot }}
                {{ form.content_type }}
                {{ form.object_pk }}
                {{ form.timestamp }}
                {{ form.security_hash }}
                <input type="hidden" name="next" value="{% url 'poslanec:poslanec_detail' poslanec_single.pk %}" />
                <div class="btns-wrap">
                    <button type="submit" name="submit" class="btn btn-primary">Přidat komentář</button>
                </div>
                </form>
            </div>
        </div>
    </div>

</div>
{% endblock content %}





{% block inline_javascript %}
<script type="text/javascript">

  //{% if user.is_authenticated %}
  $('.star').click(function(){
    let value = $(this).attr('data-value');
    updateRating(value);
  })
  //{% else %}
  $('.star').click(function(){
    $('.login_required').slideDown();
  })
  //{% endif %}


  /**
   * Function that saves user rating and updates 
   */
  function updateRating(rating){
    $.ajax({
      type: 'POST',
      url: '{% url "poslanec:save_star_rating" %}',
      dataType: 'JSON',
      data: {
        new_rating: rating,
        id_osoba:'{{poslanec_single.id_osoba.pk}}',
        csrfmiddlewaretoken: '{{ csrf_token }}'
      },
      success: function(result){
        //we need to update data in rating section
        let user_rated = parseInt(result.user_rated);
        let avg_rating = parseFloat(result.avg_rating);
        let $stars = $(".star");

        $stars.each(function(){
          let rating = $(this).attr('data-value');

          if(rating <= avg_rating){
            $(this).addClass('full');
          }else{
            $(this).removeClass('full');
          }
          if(rating-0.5 <= avg_rating){
            $(this).addClass('half');
          }else{
            $(this).removeClass('half');
          }

          $('.rating .user_rated').text(user_rated);
          $('.rated').show();
          $('.remove_rating').show();
        })
      },
      error: function(result){
        console.log(result);
      }
    })
  }


  /**
   * Function that removes user rating and updates page 
   */
   function removeRating(){
    
    $.ajax({
      type: 'POST',
      url: '{% url "poslanec:remove_star_rating" %}',
      dataType: 'JSON',
      data: {
        id_osoba:'{{poslanec_single.id_osoba.pk}}',
        csrfmiddlewaretoken: '{{ csrf_token }}'
      },
      success: function(result){
        //we need to update data in rating section
        let user_rated = parseInt(result.user_rated);
        let avg_rating = parseFloat(result.avg_rating);
        let $stars = $(".star");

        $stars.each(function(){
          let rating = $(this).attr('data-value');

          if(rating <= avg_rating){
            $(this).addClass('full');
          }else{
            $(this).removeClass('full');
          }
          if(rating-0.5 <= avg_rating){
            $(this).addClass('half');
          }else{
            $(this).removeClass('half');
          }

          $('.rated').hide();
          $('.remove_rating').hide();
        })
      },
      error: function(result){
        console.log(result);
      }
    })
  }
</script>
{% endblock inline_javascript %}