{% extends "base.html" %}

{% load static %}
{% load customtags %}

{% block bodyclass %}poslanec_page{% endblock %}


{% block content %}
<div>
    <h1 class="pageTitle">
        Přehled poslanců
    </h1>
</div>
<div class="row align-items-start list poslanec-list">
    {% for poslanec_single in poslanec %}
    <div class="col-12 col-md-6 col-xl-3 mb-4 poslanec">
        <div class="row">
            <div class="col-4 profile-pic">
                <a href="{% url 'poslanec:poslanec_detail' poslanec_single.pk %}">
                {% if poslanec_single.foto == 1 %}
                    <img 
                    src="http://www.psp.cz/eknih/cdrom/2017ps/eknih/2017ps/poslanci/i{{ poslanec_single.id_osoba.pk }}.jpg" 
                    class="img-fluid"
                    alt="Poslanec profilový obrázek">
                {% else %}
                    <img 
                    src="{% static 'images/profile_placeholder.jpg' %}" 
                    class="img-fluid default"
                    alt="Poslanec profilový obrázek">
                {% endif %}
                </a>
            </div>
            <div class="col-8 ">
                <a href="{% url 'poslanec:poslanec_detail' poslanec_single.pk %}">
                    <div class="name-wrap">
                        <span class="titles before">{{poslanec_single.id_osoba.pred}}&nbsp;</span>
                        <h3 class="{% if poslanec_single.id_osoba.pred != ' ' %}title-before{% endif %}" >
                            {{poslanec_single.id_osoba.jmeno}} {{poslanec_single.id_osoba.prijmeni}}</h3>
                        <span class="titles after">{{poslanec_single.id_osoba.za}}&nbsp;</span>
                    </div>
                </a>
                <div class="star-rating"></div>
                <div class="party">
                    {% poslanec_party poslanec_single.id_osoba.id_osoba parties %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock content %}