{% extends "base.html" %}

{% load static %}
{% load customtags %}

{% block bodyclass %}poslanec_page{% endblock %}


{% block content %}
<div>
    <h1 class="pageTitle">
        Přehled poslanců
    </h1>
</div>
<div class="row align-items-start list poslanec-list">
    {% for poslanec_single in poslanec %}
    <div class="col-12 col-sm-6 col-lg-4 mb-4 poslanec">
        <div class="row">
            <div class="col-4 profile-pic">
                <a href="{% url 'poslanec:poslanec_detail' poslanec_single.id_poslanec %}">
                {% if poslanec_single.foto == 1 %}
                    <img 
                    src="http://www.psp.cz/eknih/cdrom/{{election_period}}ps/eknih/{{election_period}}ps/poslanci/i{{ poslanec_single.id_osoba }}.jpg" 
                    class="img-fluid"
                    alt="Poslanec profilový obrázek">
                {% else %}
                    <img 
                    src="{% static 'images/profile_placeholder.jpg' %}" 
                    class="img-fluid default"
                    alt="Poslanec profilový obrázek">
                {% endif %}
                </a>
            </div>
            <div class="col-8 ">
                <a href="{% url 'poslanec:poslanec_detail' poslanec_single.id_poslanec %}">
                    <div class="name-wrap">
                        <span class="titles before">{{poslanec_single.pred}}&nbsp;</span>
                        <h3 class="{% if poslanec_single.pred != ' ' %}title-before{% endif %}" >
                            {{poslanec_single.jmeno}} {{poslanec_single.prijmeni}}</h3>
                        <span class="titles after">{{poslanec_single.za}}&nbsp;</span>
                    </div>
                </a>
                <div class="star-rating"></div>
                <div class="party">
                    {{poslanec_single.zkratka}}
                </div>
                <div class="rating">
                    <div class="stars" title="Celkové hodnocení: {{poslanec_single.rating|floatformat:2}}" >
                        <div class="star s-5 {% if poslanec_single.rating >= 4.5 %}half{% endif %} {% if poslanec_single.rating >= 5 %}full{% endif %} " data-value='5' ></div>
                        <div class="star s-4 {% if poslanec_single.rating >= 3.5 %}half{% endif %} {% if poslanec_single.rating >= 4 %}full{% endif %} " data-value='4' ></div>
                        <div class="star s-3 {% if poslanec_single.rating >= 2.5 %}half{% endif %} {% if poslanec_single.rating >= 3 %}full{% endif %} " data-value='3' ></div>
                        <div class="star s-2 {% if poslanec_single.rating >= 1.5 %}half{% endif %} {% if poslanec_single.rating >= 2 %}full{% endif %} " data-value='2' ></div>
                        <div class="star s-1 {% if poslanec_single.rating >= 0.5 %}half{% endif %} {% if poslanec_single.rating >= 1 %}full{% endif %} " data-value='1' ></div>
                      </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock content %}