

.account{
    .formwrap{
        background-color: rgba(0,0,0,0.5);
        padding: 50px;
        border-radius: 20px;
        color: white;

        h1{
            text-align: center;
            color: white;
            font-size:35px;
            font-weight: bold;
            margin-bottom: 15px;
        }

        label{
            font-weight: bold;
        }

        input{
            background-color: rgba(255,255,255,0.5);
            border: 0;
            border-radius: 0;
            color: white;

            &::placeholder{
                color: lightgrey;
            }
        }

        .buttons-wrap{
            div:first-child{
                margin-bottom: 10px;
            }

            .btn{
                padding: 10px 5px;
                font-size: 14px;
                font-weight: bold;
                text-transform: uppercase;
            }
        }
        button{
            width: 100%;
        }
    }


    .meta-wrap{
        border-top: 1px solid white;
        margin-top: 15px;
        padding-top: 10px;

        a{
            color: white;
            text-decoration: underline;
        }
    }
}