
/* HLASOVANI */
.hlasovani_page{

    #page_ordering{
        border: 1px solid $blue_standard;
        border-radius: 0;
        color: $blue_standard;
        font-weight: 500;
        height: auto;
        padding: .6rem 1.5rem;
        box-shadow: initial!important;
    }

    //filters
    #filtersToggler{
        border: 1px solid $blue_standard;
        border-radius: 0;
        border-right: 0;
        box-shadow: initial!important;

        &[aria-expanded="true"]{
            background-color: $blue_standard;
            color: white;
        }
        
        i{
            vertical-align: middle;
        }
    }
    #collapseFilters{
        text-align: right;
        width: 100%;

        .filters-wrap{
            display: inline-block;


            form{
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-end;

                .form-group{
                    display: flex;
                    flex-flow: column;
                }

                .btns-wrap{
                    width: 100%;
                }
            }
        }
    }

    .hlasovani.voted{
        .hlasovani_link{
            color: $blue_standard;
        }
    }

    .hlasovani .meta{
        display: flex;
        opacity: 0.5;
        flex-wrap: wrap;
        
        >div{
        display: inline-flex;
        align-items: center;

        &:not(:last-child){
            margin-right: 10px;
        }

        span{
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 20px;
            height: 20px;
            text-align: center;
            line-height: 20px;
            font-weight: bold;
            font-size: 13px;
            vertical-align: center;
            margin-right: 5px;
        }

        &.pro span{
            background-color: lightgreen;
        }
        &.proti span{
            background-color: pink;
        }
        &.zdrzel span{
            background-color: lightgrey;
        }
        &.nehlasoval span{
            background-color: darkgray;
        }
        }


    }

    .date{
        opacity: 0.5;
    }
}
  
  /*END HLASOVANI PREHLED*/



.hlasovani_detail{

    .row{
        position: relative;
    }

    .voter{
        max-width: 350px;
        margin: auto;
        
        @media (min-width: 768px){
            position: absolute;
            width: 300px;
            right: 0;
            top: 0;
        }


        button{
            color: white;
            line-height: 1;
            font-weight: 500;
            //opacity: 0.5;
            transition: 0.3s;
            width: calc(100% / 3);
            min-height: 40px;
            box-shadow: 0!important;

            &.active{
                opacity: 1;
                color: white!important;
            }
            &:focus{
                box-shadow: initial !important;
            }

            &.pro{
                border: 2px solid #047104;
                border-right-width: 1px;
                border-radius: 5px 0 0 5px;
                color: #047104;

                &.active{
                    //border-bottom: 4px solid #004600;
                    background-color: #047104;
                }
            }
            &.zdrzel{
                border: 2px solid $blue_standard;
                border-radius: 0;
                border-left-width: 1px;
                border-right-width: 1px;
                color: $blue_standard;

                &.active{
                    //border-bottom: 4px solid #001a35;
                    background-color: $blue_standard;
                }
            }
            &.proti{
                border: 2px solid #b9080d;
                border-left-width: 1px;
                border-radius: 0 5px 5px 0;
                color: #b9080d;

                &.active{
                    //border-bottom: 4px solid #310000;
                    background-color: #b9080d;
                }
            }
        }

        &:not(.voted){
            .cancel-wrap{
                display: none;
            }
        }
    }





    .poslanci-voted{
        .party{
            margin-bottom: 50px;

            h3{
                text-align: center;
                width: 100%;
                margin-bottom: 20px;
            }
            .members{
                display: flex;
                flex-wrap: wrap;
    
                .poslanec{
                    width: calc(100% / 2);
                
                    @media screen and (min-width: $bp_sm){
                        width: calc(100% / 3);
                    }
                    @media screen and (min-width: $bp_md){
                        width: calc(100% / 5);
                    }
                    
                }

            }
        }

        .choice.vote-A{
            background-color: green;
        }
        .choice.vote-B,
        .choice.vote-N{
            background-color: red;
        }
        .choice.vote-C{ //zdrzel
            background-color: orange;
        }
        .choice{
            width: 15px;
            height: 15px;
            display: inline-block;
            background-color: lightgrey;
            margin-right: 10px;
        }
    }


    #show_hlasovani_poslancu{
        display: inline-block;
        padding: 10px 20px;
        color: white;
        cursor: pointer;
    }

    
}




.kalkulacka_page{

    .kalkulacka_results{
        @media screen and (min-width: $bp_sm ) and (max-width: 756px){
            .name{
                width: calc(100% - 75px);
                flex: initial;
            }
            .percents{
                width: calc(75px);
                max-width: unset;
            }
        }
    }
}