

@import "_account.scss";

// project specific CSS goes here

////////////////////////////////
		//Variables//
////////////////////////////////

// Alert colors

$white: #fff;
$mint-green: #d6e9c6;
$black: #000;
$pink: #f2dede;
$dark-pink: #eed3d7;
$red: #b94a48;

////////////////////////////////
		//Alerts//
////////////////////////////////

// bootstrap alert CSS, translated to the django-standard levels of
// debug, info, success, warning, error

.alert-debug {
  background-color: $white;
  border-color: $mint-green;
  color: $black;
}

.alert-error {
  background-color: $pink;
  border-color: $dark-pink;
  color: $red;
}




///////////////////////
// GLOBAL VARIABLES 
///////////////////////
$blue_standard: #11457E;
$red_standard: #D7141A;
$black_standard: #202020;
$green_standard: #009F5E;

body{
  color: $blue_standard;
  font-weight: 500;
}

.btn-primary {
  background-color: $blue_standard;
  border-color: $blue_standard;
  border-radius: 0;
}
.btn-secondary {
  background-color: white;
  color: $blue_standard;
  border-radius: 0;

  &:hover{

  }
}
h1{
  font-size: 35px;
  font-weight: bold;
  color: black;
}
h2{
  font-size: 25px;
  font-weight: 500;
}

.main-content{
  padding-top: 50px;
  padding-bottom: 50px; 
}
.container{
  max-width: 1600px;
}



#page{
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-flow: column;
}



/*HEADER*/
header{
  background-color: $blue_standard;

  a{
    font-weight: 500;
  }

  .navbar-expand-md{

    @media (min-width: 768px){
      width: 100%;
      justify-content: space-between;
    }

    #navbarSupportedContent{
      flex-grow: initial;
      margin-left: auto;
    }

  }
}

/*END HEADER*/


/*FOOTER*/
footer{
  padding: 20px 0;
  background-color: black;
  color: white;
  opacity: 0.5;
  font-size: 14px;
  margin-top: auto;

  a{
    color: white;
    
    &:not(:last-child){
      margin-right: 15px;
    }

    &:hover{
      color: lightgrey;
    }
  }
}
/*END FOOTER*/




/*HOMEPAGE*/
.home #page{
  background-image: url('/static/images/frontpage-bg.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: space-between;

  h1{
    font-size: 50px;
    font-weight: bold;
    text-shadow: 0px 3px 6px black;
  }
  h2{
    font-size: 25px;
    font-weight: bold;
    text-shadow: 0px 3px 6px black;
  }

  .btn{
    margin-top: 40px;
    width: 390px;
    max-width: 100%;
    line-height: 63px;
    font-weight: bold;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.7);
  }

  footer{
    margin-top: 0;
  }
}
/*END HOMEPAGE*/






/*HOMEPAGE*/
.account #page{
  background-image: url('/static/images/frontpage-bg.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: space-between;



  footer{
    margin-top: 0;
  }
}
/*END HOMEPAGE*/





/*SCHUZE*/
.schuze{

  .schuze-item{
    padding-bottom: 20px;
  }

  ol {
    list-style: none; 
    counter-reset: li;
    padding-left: 0;

    li {
      counter-increment: li;
      position: relative;
      padding-left: 35px;
      cursor: pointer;
  

      &:before {
        content: counter(li)")"; 
        color: red;
        display: inline-block; 
        width: 1em;
        position: absolute;
        left: 0;
        top: 0;
      }


      p{
        display: flex;
        align-items: flex-start;
      }

      p:before {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f107";
        margin-right: 10px;
        transform: rotate(-180deg);
        transition: 0.3s;
      }

      &[aria-expanded="false"] p:before{
        transform: rotate(0deg);
      }

      //list of votings
      div{
        padding-left: 22px;

        a{
          color: grey;

          &.A{
            color: $green_standard;
          }
          &.R{
            color: $red_standard;
          }


          &:not(:last-child):after{
            content: ',';


          }
        }
      }
    }

    .opener-wrap{
      text-align: center;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;

      hr{
        position: absolute;
        width: calc(50%);
        left: 0;
        right: 0;
        top: calc(50% - 1px);
        margin: 0 auto;
        z-index: -1;
        border-top: 1px solid $blue_standard;
      }

      .opener{
        border-radius: 50%;
        //border: 1px solid $blue_standard;
        display: inline-flex;
        width: 35px;
        height: 35px;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        z-index: 2;
        background-color: white;

        &:before{
          content: "\f103";
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
          font-size: 19px;
          line-height: 1;
        }

      }

      &.open .opener:before{
        content: "\f102";
      }
    }
    .opener-wrap:not(.open)~li{
      display: none;
    }

  }

}
/*END SCHUZE*/