{% extends "base.html" %}
{% load static %}

{% block title %}Uživatel: {{ object.username }}{% endblock %}

{% block bodyclass %}user_detail{% endblock %}

{% block content %}
<div class="container">

  <div class="row mb-5">
    <div class="col-sm-12">
      <h2>Profil uživatele {{ object.username }}</h2>
    </div>
  </div>


<!-- PUBLIC -->
  <div class="row mb-3">
    <div class="col-12 col-md-2">
      {% if object.profile_image %}
      <img src="{{object.profile_image.url}}" alt="user profile image" class="img-fluid" >
      {% else %}
      <img src="{% static '/images/profile_placeholder.jpg' %}" alt="user profile image" class="img-fluid" >
      {% endif %}
    </div>
  </div>

<!-- PROFILE OWNER -->
{% if object == request.user %}
<!-- Action buttons -->
<div class="row mb-5">

  <div class="col-sm-12">
    <a class="btn btn-primary mb-2" href="{% url 'users:update' %}" role="button">Upravit profil</a>
    <a href="/accounts/password/change/" class="btn btn-primary mb-2">Změnit heslo</a>
    <a class="btn btn-primary mb-2" href="{% url 'account_email' %}" role="button">Upravit email</a>
    <!-- Your Stuff: Custom user template urls -->
  </div>

</div>


<div class="row">
  <div class="col-12">
    <h3>
      Seznam Vašich hlasování
    </h3>
  </div>
  <div class="col-12">
  {% for hlasovani_single in hlasovani %}
    <p class="mb-1" >
      <a href="{% url 'hlasovani:hlasovani_detail' hlasovani_single.pk %}">
        {{hlasovani_single.nazev_dlouhy}}
      </a>
    </p>
  {% empty %}
    Zatím jste neuskutečnil/a žádné hlasování.
  {% endfor %}
  </div>


</div>
 
{% endif %}


</div>
{% endblock content %}

