{% extends "base.html" %}
{% load static %}

{% block title %}Uživatel: {{ object.username }}{% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-sm-12">
      <h2>Profil uživatele {{ object.username }}</h2>
    </div>
  </div>


<!-- PUBLIC -->
  <div class="row">
    <div class="col-12 col-md-2">
      {% if object.profile_image %}
      <img src="{{object.profile_image.url}}" alt="user profile image" class="img-fluid" >
      {% endif %}
    </div>
  </div>

<!-- PROFILE OWNER -->
{% if object == request.user %}
<!-- Action buttons -->
<div class="row">

  <div class="col-sm-12">
    <a class="btn btn-primary" href="{% url 'users:update' %}" role="button">Upravit profil</a>
    <a class="btn btn-primary" href="{% url 'account_email' %}" role="button">Upravit email</a>
    <!-- Your Stuff: Custom user template urls -->
  </div>

</div>
<!-- End Action buttons -->
{% endif %}


</div>
{% endblock content %}
