{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% block head_title %}Změnit heslo{% endblock %}

{% block inner %}
    <h1>{% if token_fail %}Neplatný token{% else %}Změnit heslo{% endif %}</h1>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>Odkaz na změnu hesla je neplatný. Nejspíše už byl jednou použit.  
          Požádejte si o <a href="{{ passwd_reset_url }}">změnu hesla</a> ještě jednou.</p>
    {% else %}
        {% if form %}
            <form method="POST" action=".">
                {% csrf_token %}
                {{ form|crispy }}
                <input class="btn btn-primary" type="submit" name="action" value="Změnit heslo"/>
            </form>
        {% else %}
            <p>Vaše heslo bylo změněno</p>
        {% endif %}
    {% endif %}
{% endblock %}
