{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block inner %}

    <h1>Obnova hesla</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>Zadejte emailovou adresu Vašeho účtu, na kterou vám bude zasláno heslo k obnovení.</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="row buttons-wrap">
            <div class="col-12">
                <button class="btn btn-primary" type="submit">Obnovit heslo</button>
            </div>
            <div class="col-12">
                <a href="{{ login_url }}" class="btn btn-secondary d-block">Zpět</a>
            </div>
        </div>
    </form>
{% endblock %}

{% block meta %}
    <p>V případě problémů s obnovením hesla nás neváhejte kontaktovat.</p>
{% endblock meta %}

