{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block inner %}
<h1>Registrace</h1>


<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}" enctype="multipart/form-data" >
  {% csrf_token %}
  {{ form|crispy }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <div class="row buttons-wrap">
    <div class="col-12">
      <button class="btn btn-primary" type="submit">Registrovat</button>
    </div>
    <div class="col-12">
      <a href="{{ login_url }}" class="btn btn-secondary d-block">ZPĚT</a>
    </div>
  </div>
</form>

{% endblock %}

{% block meta %}
<p>Už máte účet? <a href="{{ login_url }}">Přihlašte se</a>.</p>
{% endblock %}