{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}Potvrďte svoji emailovou adresu{% endblock %}

{% block inner %}
<h1>Potvrďte svoji emailovou adresu</h1>

{% url 'account_email' as email_url %}

<!-- <p>{% blocktrans %}This part of the site requires us to verify that
you are who you claim to be. For this purpose, we require that you
verify ownership of your e-mail address. {% endblocktrans %}</p> -->

<p>Na zadanou emailovou adresu Vám byl odeslán ověřovací email. Autorizujte emailovou adresu kliknutím
  na odkaz něm. Pokud Vám ověřovací email nedorazí do několika mitut, prosím kontaktujte nás.
</p>

<p><strong>Note:</strong> Máte možnost <a href="{{ email_url }}">změnit svoji emailovou adresu.</a>.</p>


{% endblock %}
